@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The purpose of this website is to collect, analyze, and define high-level needs and features of the MUM faculty to easily look up at students’ meditation attendance.</p>
