@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Maharishi University Of Management<br />
    1000 North Fourth St.<br />
    <abbr title="Phone">P:</abbr>
    (800) 369-6480
</address>

<address>
    <strong>Marketing:</strong>   <a href="mailto:info@orifjon.net">info@orifjon.net</a><br />
    <strong>Support:</strong> <br />
    
    <a href="mailto:orifjon.narkulov@hotmail.com">Orifjon Narkulov</a><br />
    <a href="mailto:minhhi227@gmail.com">Minh Hieu Nguyen</a><br />
    <a href="mailto:lwi25@yahoo.com">Lwam Abraham Hailu</a><br />
    <a href="mailto:raw.sharma1379@gmail.com">Ramesh Sharma</a><br />
    <a href="mailto:pagmaae@gmail.com">Dorjpagma Erdenebat</a><br />
</address>