@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TM Attendance Report System</h1>
    <p class="lead">The purpose of this website is to collect, analyze, and define high-level needs and features of the MUM faculty to easily look up at students’ meditation attendance</p>
    <p><a href="https:www.mum.edu" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Transcendental Meditation<sup>®</sup></h2>
        <p>
            You'll learn this absolutely effortless technique to <strong>boost your learning ability</strong> and reduce stress
        </p>
        <p><a class="btn btn-default" href="https://www.mum.edu/about-mum/transcendental-meditation-technique">Learn more &raquo;</a></p>
    </div>
    
    <div class="col-md-4">
        <h2>What is TM?</h2>
        <p>It’s a <strong>simple, natural, effortless technique practiced</strong> 20 minutes twice each day while sitting comfortably with the eyes closed.</p>
        <p><a class="btn btn-default" href="http://www.tm.org/transcendental-meditation">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What is the TM technique?</h2>
        <p>It's an effortless technique for "recharging your mind and body" — and <strong>creating a brighter, more positive state of mind</strong>.</p>
        <p><a class="btn btn-default" href="http://www.tm.org/">Learn more &raquo;</a></p>
    </div>
</div>